.card:not(.profile-picture),
.btn,
.badge {
  border-radius: 0;
}

.badge {
  background-color: #73070A;
}

.profile-picture {
  padding: 2em;
  top: 30%;
  left: 10%;
}

.account {
  padding: 2em;
}

a {
  font-size: 13px;
  color: inherit;
  text-decoration: none;
}